.expenses {
  background-color: #fff;
  width: 75vw;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #101010;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 1000px) {
    width: 100vw;
  }

  // height: 100%;
}

.expensesCard {
  background-color: #fff;
  width: 95%;
  height: 95%;
  border-radius: 30px;
  display: flex;
  overflow-x: hidden;
  // align-items: flex-start;
  overflow-y: scroll;
  /* Hide scrollbar for IE, Edge and Firefox */

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (max-width: 700px) {
    flex-direction: column;
  }
}
.expensesOverview {
  width: 65%;
  padding: 4rem;

  @media screen and (max-width: 1400px) {
    width: 55%;
    padding: 2rem;
  }
  @media screen and (max-width: 700px) {
    width: 100%;
    padding: 1rem;
  }
}

.expensesHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.expensesTitle {
  font-size: 40px;
  font-weight: 600;
  display: flex;
  align-items: center;

  @media screen and (max-width: 1000px) {
    font-size: 30px;
  }

  span {
    display: none;
    position: relative;

    margin: 0 5px;
    width: 1.2rem;
    height: 3px;
    background-color: black;
    cursor: pointer;

    @media screen and (max-width: 1000px) {
      display: block;
    }

    &::after,
    &::before {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      content: "";
      display: block;

      background-color: black;
    }

    &::after {
      transform: translateY(-8px);
    }
    &::before {
      transform: translateY(8px);
    }
  }
}

.expensesActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 400px) {
    flex-direction: column;
    align-items: center;
  }

  button {
    cursor: pointer;
    background-color: #fff;
    border: none;
    outline: none;
  }
}

.personImages {
  & img {
    margin-left: -10px;
    position: relative;

    &:nth-child(1) {
      z-index: 3;
    }
    &:nth-child(2) {
      z-index: 2;
    }
    &:nth-child(3) {
      z-index: 1;
    }
  }
}

.dateRange {
  margin-top: 1rem;
  opacity: 0.5;
  margin-bottom: 2rem;
}

.moneyOverview {
  width: 35%;
  background: #f9fafc;
  padding: 5rem 2rem;
  min-height: 100vh;
  // margin: 0 auto;
  // text-align: center;

  @media screen and (max-width: 1400px) {
    width: 45%;
    padding: 5rem 1rem;
  }
  @media screen and (max-width: 700px) {
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
}

.moneyOverviewTitle {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 3rem;
}

.saveMoneyDiv {
  margin-top: 4rem;
  background-color: #edf0f6;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 2rem;

  @media screen and (max-width: 700px) {
    text-align: center;
    width: 80%;
    margin: 3.5rem auto;
  }

  .saveMoneyImages {
    transform: translateY(-25px);
    display: flex;
    justify-content: space-between;
  }

  .saveMoneyContent {
    & p {
      font-weight: 600;
      color: #273240;
    }
    span {
      display: block;
      margin-top: 0.7rem;
      color: #404852;
      font-size: 12px;
      opacity: 0.7;
      line-height: 21px;
    }
  }

  button {
    cursor: pointer;
    background: #101010;
    color: #fff;
    font-weight: 600;
    border-radius: 15px;
    height: 45px;
    margin: 1rem 0;
    outline: none;
    border: none;

    &:active {
      transform: translateY(1px);
    }
  }
}
